* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root,
.App {
  height: 100%;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 20px;
  padding: 20px;
  border-bottom: 1px solid rgb(98, 98, 98);
  align-items: center;
  gap: 1rem;
}

.page-content-wrapper {
  height: 91.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
